· tkinter
· time
· serial
· threading
· pyaudio
· json
· os
· numpy
· functools
· matplotlib
· mpl_toolkits
· tempfile
· wave
· gtts
· pygame
· keyboard
· cohere
· requests
· groq
· ast
· machine
· sys
· ast
